* {
  border: none;
  border-radius: 0px;
  font-family: BlexMono Nerd Font Mono;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces button,
#custom-gammastep,
#pulseaudio,
#clock {
  color: @theme_text_color;
  background: @theme_selected_bg_color;
  margin: 2px 4px;
  padding: 0px 8px;
  border-radius: 10px;
}

@keyframes blink {
  to {
    background-color: @theme_bg_color;
  }
}

#workspaces button.active {
  animation-name: blink;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
